/* Styles for the green bullet point */
.bullet_list {
    /* list-style-type: none; */
    display: flex;
    flex-direction:row; 
    margin-top:-2em;
    margin-bottom:10em; 
    margin-left:6em
}
  
.green_bullet::before {
    border-radius: 50%;
    background: green;
  }
  
ul {
    font-size: small;
    position: relative;
}
.red_bullet {
    margin-bottom: -6em; 
    margin-left: 6em; 
    font-weight: bold
}
