.container {
  color: black;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -6.5em;
}

/* @media only screen and (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
} */

/* @media only screen and (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
} */
